/*	CSS DESKTOP STYLES 	*/

/* Reset Browser Default Styles */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/* Horizontal Scrollbars are evil. */ 

body {
	overflow: hidden !important;
}

 /* Hide Unused Elements
	-  Nav Bar
	- External Submissions (Twitter + Instagram)
	- Rules Section
	- Footer Divider
	- Footer
	- Share button in footer
 */

 div.CNav, #external_submission_instruction, div.SRules, div.CFooterDivider, div.CFooter, div.CShare, 
#facebook-profile-connect, #upload_entry label, #photo-upload-note, #sfield_caption, #sfield_city, .SField label,
.Notes {
	display: none;
}

/* Styling for Form */ 
div.SField input{
border:1px solid black;
}
#sfield_email{
	padding-right:10px;
	display:inline-block;
}
#sfield_name {
	margin: 0 0 0 4px;
}

#sfield_firstname, #sfield_lastname, #sfield_name, #sfield_email, #sfield_surname, #sfield_zip, #firstname, #lastname, #name, #email, #surname, #zip{
	width:180px !important;
}
#sfield_zip, #sfield_optin1, #sfield_surname, #sfield_email {
	display:inline-block;
}
.SDeclare{
	display:inline-block;
	width:265px;
}
.SSubmit {
text-align: center;
}

#sfield_lastname, #sfield_surname, #sfield_zip{
	margin-left:10px;
}
#sfield_name{
	margin-left:14px;
}

/* Hide Whole form on Load <--Not sure we need this since we appended to popbox.  */
/*#entry_submit{
	display: none;
}*/

/* Text Styling */
#submit-section h1 {
	font-size: 16px;
	margin: 30px 85px 20px;
	font-style: italic;
	color: #2f2f2f;
}


/* CSS for the Elimination Round section */

#eliminationContainer{
	background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/4fnydU.jpg')no-repeat;
	width:810px;
	height:82px;
	position:relative;
	padding:55px 0px 0px 13px;
}
#userB{
	margin-left:5px;
}
.playerThumb div{
	display:none;
	width:200px;
	height:200px;
	background:white;
	border-radius:5px;
	text-align:center;
	padding-top:5px;
	position:absolute;
	top:-210px;
}
.matchup{
	float:left;
	position:relative;
	width:85px;
	margin-left:12px;
}
.playerThumb{
	float:left;

}
#dateFooter{
	width:71px;
	float:left;
	text-align:center;
	color:#fff;
	margin-top:5px;
}

 /* Background for the Participation Instructions */
#participate {
	width: 100%;
	height: 448px;
	background: url('https://opop.cachefly.net/amazonnb/instructions1.png');
}

/* Background for the Submission Form page */
.CSub { 
 	background: url('https://opop.cachefly.net/amazonnb/submit-bg1.png');
}
/* CSS for Pop Up */

.projectsboxpop {
	display: none;
	width: 600px;
	height: 550px;
	background: url('https://opop.cachefly.net/amazonnb/submit-bg1.png');
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
}

#fadebg {
	display: none; 
	background: #000;
	position: fixed; 
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: .10;
	z-index: 99998;
}

/* End CSS for Pop up */


/* Get rid of white space in between header and elimination round area */
.tab { margin: 0 0 -5px 0 !important; }

/* Resize Elimination Round Graphic to 810px */
img.elim { width: 810px !important; } 

/* Add padding in between each of the upload method CTAs. Padding at 20px leaves space for Twitter CTA */


.social-cta { 
	padding: 0 20px;
	cursor: pointer;
 }

 #submit-section {
 	width: 810px !important;
 	padding: 0 43px;
 }

 /* Gallery Section */

 #gallery-controls {
 	background: url('https://opop.cachefly.net/amazonnb/see-all-gladiators.png');
 	height: 172px;
 }

#gallery-controls ul {
	visibility: hidden;
}

#gallery-content {
clear: both;
min-height: 240px;
overflow-y: scroll !important;
height: 330px !important;
}

#sharebar {
padding: 20px;
}

#gallery-loading, #gallery-show-more, #gallery-refreshing {
	margin-top: 0 !important;
}
