* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/* ID for the elimination round image under the header banner */
#elimination { 
	width: 100%;
	background: url('https://opop.cachefly.net/amazonnb/elimination.png');
 }
 /* Hides photo contest nav bar, side bar for Twitter and Instagram instructions, rules after sign up, footer divder, footer, share */
 div.CNav, #external_submission_instruction, div.SRules, div.CFooterDivider, div.CFooter, div.CShare, #facebook-profile-connect {
	display: none;
}
#upload_entry label, #photo-upload-note {
	display: none !important;
}
/* CSS for Pop Up */

.projectsboxpop {
 	display: none; 
  	width:400px;
 	height:350px;
	background-color:#fff;
	float: left;
	position: fixed;
	top: 50%; 
	left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#fadebg {
	display: none; 
	background: #000;
	position: fixed; 
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: .10;
	z-index: 99998;
}

/* End CSS for Pop up */



