/*

Fonts

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-weight: 700;




*/


/* CSS FOR BRACKET */

li {
    list-style: none;
}
ul {
    padding: 0px;
}
.width {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ff0000;
}

/* Class for Active column. Give this class to all the <li> in the current day column */
.active {
    border: 3px solid #e4bd16;
    color: #493918;
    background: #fff;
}

/* The container the bracket lives in */
#bracket {
    margin: 0px auto;
font-size: 12px !important;
}

/* Classes for column heights */
.column {
    /* padding: 20px 20px; */
}
.column li {
    background: #fff;
    padding: 5px 10px;
}
.tall {
    
}
.medium {
    
}
.short {
    
}
.center {
    
}

/* Classes for and  id's for content in the columns */
.round-1 {
    margin: 10px 0px;
}
.round-2 {
    margin: 50px 0px;
}
.round-3 {
    margin: 50px 0px;
}
.round-4 {
    margin: 0px 0px;
}
#column-1 li, #column-7 li {
    margin: 10px 0px;
}
#column-2 li, #column-6 li {
    margin: 50px 0px;
}
#column-3 li, #column-5 li {
    margin: 100px 0px;
}
#column-4 li {
    
}
#column-1 {
    padding-left: 0px !important;
}
#column-7 {
    padding-right: 0px !important;
}
.top {
    margin-top: 0px;
}
.bottom {
    
}
.round-2.top {
    margin-bottom: 10px;
}
.round-2.bottom {
    margin-top: 20px;
}

/* Media Queries */

@media screen and (max-width: 960px) { 
    #bracket {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {
    
    #bracket {
        font-size: 14px;
    }
  
}
@media screen and (max-width: 320px) {
    
    #bracket {
        font-size: 14px;
    }
    #column-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
  
}

/* CSS FOR BRACKET END */